<h1>
	This is a secret page!
</h1>
<p>
	You find me!
</p>
<img src="https://farm9.staticflickr.com/8442/7962474612_bf2baf67c0.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>